<p id="notice"><%= notice %></p>

<p>
  <strong>Student:</strong>
  <%= @now_assign.student %>
</p>

<%= link_to 'Edit', edit_now_assign_path(@now_assign) %> |
<%= link_to 'Back', now_assigns_path %>
